body {
    font-family: 'Lato', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #cc0000;
}
<!-- background-image: url('../img/mandala-pattern-design-white-background_1308-43563.webp');
-->
.head-two {
    color: blue;
    background-color: blueviolet;
    padding: 10px 15px 20px 25px;
    border: blueviolet;
}

.button {
    color: #004080;
    background-color: aqua;
}
.text {
    width: 500px;
}
.title {
    color: chartreuse;

}
.link {
        color: teal;
    }

    .link:hover {
        color: tomato;
    }
.social-links .link {
    color: teal;
}
    
.social-links .link:focus {
    color: orange;
}
p {
    text-align: center;
    background-color: rgba(0, 255, 0, 0.2);
    padding: 10px 15px 20px 25px;
    border: blueviolet dotted 1px ;
    border-radius: 50%;
    margin: 10px 15px 20px 25px;
}
.link {
    background-color: tomato;
    color: white;

    /* ✅ Работает */
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
    margin-left: 50px;

    /* ❌ Никакого эффекта */
    width: 1000px;
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
}